{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PDF Reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>PDF Reader</h1>
				<p>Carga tu PDF y hazle preguntas. Así de fácil.</p>
			</header>

			{% if uploaded_file_url %}
				<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
		  	{% endif %}

		<!-- Signup Form -->
			<form id="question-form" method="post" action="#" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<br>
				{% if saved_form.file%}
					<p>Actualmente se está utilizando el fichero <a href="{{saved_form.file.url}}" target="_blank">"{{saved_form.file.name}}"</a>.</p>
				{% else %}
					<p>Actualmente se está utilizando el fichero <a href="https://www.boe.es/doue/2016/119/L00001-00088.pdf" target="_blank">"REGLAMENTO (UE) 2016/ 679 DEL PARLAMENTO EUROPEO"</a>.</p>
				{% endif %}
				<input type="submit" value="Enviar" />
				<div id="loading-spinner" class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				
			</form>

		<!-- Post Header -->
			{% if answer%}
				<header id="post-header">
					<p><b>Respuesta:</b> {{answer}}</p>
				</header>
			{% endif %}

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:eduard.torres.romero@me.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Eduard Torres Romero.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>